<!DOCTYPE HTML>

<html>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

			   <header id="header">
						<a class="logo"><span>K-Studio</span></a>
					<nav></nav>
			   </header>
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>K-Studioとは</h1>
							</header>
							<!--<div class="content">-->
							<!--	<p>HOGEHOGE<br />-->
							<!--	HOGEHOGEHOGE</p>-->
							<!--</div>-->
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" style="background:white;color:black;">
								<div class="inner">
									<header class="major">
										<h2 style="background:white;color:black;">About</h2>
									</header>
									<p>今なら初回2週間無料！中学・高校生向け陸上競技専門オンラインコーチングサービスK-Studio。
									<br>アプリから専属コーチに動画を送るとあなただけのアドバイスが返ってきます。
									<br>周囲の環境にとらわれない次世代型オンライントレーニングであなたの成長を後押し。</p>
               <div><%= image_tag 'preview.png' ,style:"width:80%;" %></div>

								</div>
					</section>


					<span><%= link_to 'Back', top_path, class: "button next scrolly" %></span>

	</body>
</html>