<!DOCTYPE HTML>

<html>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

			   <header id="header">
						<a class="logo"><span>K-Studio</span></a>
					<nav></nav>
			   </header>
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>K-Studioとは</h1>
							</header>
							<div class="content">
								<p>HOGEHOGE<br />
								HOGEHOGEHOGE</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>About</h2>
									</header>
									<p>内容内容</p>
								</div>


					<span><%= link_to 'Back', top_path, class: "button next scrolly" %></span>

	</body>
</html>