<!DOCTYPE HTML>

<html>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

			   <header id="header">
						<a class="logo"><span>K-Studio</span></a>
					<nav></nav>
			   </header>
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>コーチ紹介</h1>
							</header>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
								  <div class="flex" style = "color:black;">
								   <div class="box1">
								   	<div>オンラインで</br>技術が身に付く<br/>
								   	<%= image_tag 'onlineCoaching.png' ,class: "pict" %></div>
								   </div>
								   <div class="box1">
								   	<div>経歴・知識豊富な</br>コーチがアドバイス
								   	<%= image_tag 'coachers.png' ,class: "pict", style:"margin-top:40px;"  %></div>
								   </div>
								   <div class="box1">
								   	<div>経歴・業界最安</br>月額980円＋</br>初回2週間無料
								   	<%= image_tag 'anshin.png' ,class: "pict", size: "200x250" %></div>
								   </div>
								  </div>
								 </div>
					             </div>
							 </section>


					<span><%= link_to 'Back', top_path, class: "button next scrolly" %></span>

	</body>
</html>