<!DOCTYPE HTML>

<html>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

       <!-- Header -->
			   <header id="header">
						<a class="logo"><span>K-Studio</span></a>
					<nav></nav>
			   </header>
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>コーチ紹介</h1>
							</header>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="coach.scss" />
  </head>

  <!-- header -->
  <body>
    <main>
      <div class="step-box">
        <h3 class="title">K<br/></h3>
        <p class="text">
          文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。
        </p>
      </div>

      <div class="step-box">
        <h3 class="title">Karita</h3>
        <p class="text">
          文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。
        </p>
      </div>

      <div class="step-box">
        <h3 class="title">Ogura</h3>
        <p class="text">
          文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。文章が入ります。
        </p>
      </div>
    </main>
  </body>
</html>


					<span><%= link_to 'Back', top_path, class: "button next scrolly" %></span>

	</body>
</html>