<!DOCTYPE HTML>

<html>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

       <!-- Header -->
			   <header id="header">
						<a class="logo"><span>K-Studio</span></a>
					<nav></nav>
			   </header>
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>特徴</h1>
							</header>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="point.scss" />
  </head>

  <!-- header -->
  <body>
    <main>
      <div class="step-box">
        <div><%= image_tag 'onlineCoaching.png' ,class: "step-img" %></div>
        <h3 class="title">オンラインで</br>技術が身に付く<br/></h3>
      </div>

      <div class="step-box">
        <div><%= image_tag 'coachers.png' ,class: "step-img" %></div>
        <h3 class="title">経歴・知識豊富な</br>コーチがアドバイス</h3>
      </div>

      <div class="step-box">
        <div><%= image_tag 'anshin.png' ,class: "step-img" %></div>
        <h3 class="title">経歴・業界最安</br>月額980円＋</br>初回2週間無料</h3>
      </div>
    </main>
  </body>
</html>


					<span><%= link_to 'Back', top_path, class: "button next scrolly" %></span>

	</body>
</html>