<!DOCTYPE HTML>

<html>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

       <!-- Header -->
			   <header id="header">
						<a class="logo"><span>K-Studio</span></a>
					<nav></nav>
			   </header>
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>特徴</h1>
							</header>
							<!--<div class="content">-->
							<!--	<p>HOGEHOGE<br />-->
							<!--	HOGEHOGEHOGE</p>-->
							<!--</div>-->
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
								  <div class="flex" style = "color:black;">
								   <div class="box" style = "background:white;">
                    <div>オンラインで技術が身に付く<%= image_tag 'onlineCoaching.png' ,style:"width:80%;"%></div>
								   </div>
								   <div class="box" style = "background:white;">
                    <div>経歴・知識豊富なコーチがアドバイス<%= image_tag 'coachers.png' ,style:"width:80%;"%></div>
								   </div>
								   <div class="box" style = "background:white;">
                    <div>経歴・業界最安月額980円＋初回2週間無料<%= image_tag 'anshin.png' ,style:"width:80%;"%></div>
								   </div>
								  </div>
								 </div>
								</div>
							</section>

							</section>

					<span><%= link_to 'Back', top_path, class: "button next scrolly" %></span>

	</body>
</html>