<!DOCTYPE HTML>

<html>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
       <!-- Header -->
			   <header id="header">
						<a class="logo"><span>K-Studio</span></a>
					<nav></nav>
			   </header>
				<!-- Banner -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>プライバシーポリシー</h1>
							</header>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
									</header>
									<p>K-Studioをご利用いただきありがとうございます。
当サービスは下記の通りプライバシーポリシーを定めます。
プライバシーポリシー
（方針）

K-Studioは、各種スポーツ関連サービスの提供を通じて世の中のスポーツマンを応援する事業活動を推進して参ります。
ご提供頂いた個人情報は、サービス価値向上のための最重要資産であることを認識し、個人情報を適正に保護・管理するために以下のとおり個人情報保護方針を定めます。
・個人情報の取扱いに関して法令、国が定める指針その他の規範を遵守いたします。
・特定された利用目的の達成に必要な範囲を超えた個人情報の取扱いを行いません。
・利用者様から、苦情又は相談をいただいた場合は、適切に対応いたします。
（利用目的）

取得した個人情報は以下の目的のために利用します。
・サービス利用者（ユーザー）の個人認証及び本サービスの提供
・本サービスの利用に関連する通知・連絡・お知らせ等のメール配信
・本サービスの改善・新規サービスの開発の為の調査・分析、マーケティング
・本サービスに対するご意見・お問い合わせの確認・回答
・その他上記の各目的に附帯し、又は関連する目的
（第三者への情報開示について）

原則として、ユーザー本人の同意を得ずに個人情報を第三者に提供しません。
関係法令による場合を除き、提供先・提供情報内容を特定したうえで、ユーザーの同意を得た場合に限り提供します。
2020年12月1日

K-Studio制作チーム</p></div>
							</section>


					<span><%= link_to 'Back', top_path, class: "button next scrolly" %></span>

	</body>
</html>