<!DOCTYPE HTML>

<html>
	<head>
		<title>K_Studio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
								<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo"><span><%= link_to image_tag("logo.png",:size =>'135x60'), top_path %></span></a>
						<nav>
							<a><%= link_to '利用規約', kiyaku_path %></a>
							<a><%= link_to 'プライバシーポリシー', policy_path %></a>
						</nav>
					</header>


				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>K-Studio</h1>
							</header>
							<div class="content">
								<p>陸上特化型プレミアムコーチングサービス<br />
								サブタイトルサブタイトルサブタイトル</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

				　　　<section id="one" style = "background:#78bfd7">
								<div class="inner">
									<header class="major">
										<h2>K-Studioとは</h2>
									</header>
									<p>〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜.</p>
								</div>
							</section>

					  	<section id="two" style = "background:#e59389">
							 	<div class="inner">
									<header class="major">
										<h2>特徴</h2>
									</header>
								  <div class="flex" style = color:#778899>
								   <div class="box">
								    <p>あああああああ</p>
								   </div>
                   <div class="box">
								    <p>いいいいいいいい</p>
								   </div>
                   <div class="box">
								    <p>ううううううううう</p>
								   </div>
                   <div class="box">
								    <p>えええええええええ</p>
								   </div>
								  </div>
								 </div>
								</div>
							</section>

							<section id="three" style = "background:#9086c1">
								<div class="inner">
									<header class="major">
										<h2>コーチ紹介</h2>
									</header>
									<p>〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜.</p>
								</div>
							</section>
					</div>


    <table border="0" width="500px" style = "background:#ffffff" >
    <tbody>
      <tr><td align="left">
			　<%= link_to image_tag("download.png",:size =>'200x76', class: "image"), "https://apps.apple.com/jp/app/apple-store/id375380948" %>
			</td>
	  </tr>
    </tbody>
    </table>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>